@{
    ViewBag.Title = ViewBag.Site.SiteName + "-留言板";
}
@section css{
    <link rel="stylesheet" href="~/Content/css/message.css" />
}
<div class="doc-container" id="doc-container">
    <div class="container-fixed">
        <div class="container-inner">
            <section class="msg-remark">
                <h1>留言板</h1>
                <p>
                    沟通交流，拉近你我！
                </p>
            </section>
            <div class="textarea-wrap message" id="textarea-wrap">
                <form class="layui-form blog-editor" action="">
                    <div class="layui-form-item">
                        <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                    </div>
                    <div class="layui-form-item">
                        @if (ViewBag.Site.OpenFeedback == "true")
                        {
                            <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交留言</button>
                        }
                        else
                        {
                            <div style="text-align: center;">
                                <span>留言功能已被关闭了哟～</span>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="f-cb"></div>
        <div class="mt20">
            <ul class="message-list" id="message-list" data-count="@ViewBag.Count" data-pagesize="@ViewBag.PageSize" data-pagecount="@ViewBag.PageCount">

            </ul>
        </div>
    </div>
</div>
@section js{
    <script src="~/Content/js/pagemessage.js"></script>
}