.post-archives-list h3 {
    border-left: .25rem solid #6bc30d;
    padding-left: 1rem;
    text-transform: uppercase;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

.post-archives-list ul {
    padding-left: 2em;
}

    .post-archives-list ul li {
        line-height: 26px;
    }

.post-archives-list a {
    background-color: transparent;
    color: #0366d6;
    text-decoration: none;
}

    .post-archives-list a:hover {
        text-decoration: underline;
    }

.post-archives-list time {
    margin-left: 5px;
    font-size: 13px;
    color: #9c9d9b;
}
.col-content {
    background: #fff;
    padding: 4rem;
    height:100vh;
}
