@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
}

<div class="admin-main">
    <div class="layui-field-box">
        <table id="defaultTable" lay-filter="defaultruv"></table>
        <script type="text/html" id="bar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
    </div>
</div>
<script>
			layui.use(['table', 'common', 'form'], function () {
			    var table = layui.table,
                    form = layui.form,
                    common = layui.common;
                var $ = layui.$;
			    //表格
			    table.render({
			        id: 'defaultReload'
                   , elem: '#defaultTable'
                   , height: 'full-112' //高度最大化减去差值
                    , url: '/Blog/Feedback/List' //数据接口
                    , page: true //开启分页
                   , cols: [[ //表头
                       { checkbox: true, fixed: true },
                       { field: 'Id', title: 'Id', width: 80, fixed: 'left', sort: true }
                       , { field: 'SendId', title: '人员ID', width: 80 }
                       , { field: 'AcceptId', title: '目标人员ID', width: 100 }
                       , { field: 'Content', title: '内容' }
                       , { field: 'ParentId', title: '父ID', width: 80 }
                       , { field: 'City', title: '城市' }
                       , { field: 'Equip', title: '设备' }
                       , { field: 'CreateOn', title: '创建时间', sort: true, templet: '<div>{{showDate(d.CreateOn)}}</div>' }
                       , { field: '', title: '操作', toolbar: "#bar" }
                   ]]
			    });
			    //服务器排序
                table.on('sort(defaultruv)', function (obj) {
			        //尽管我们的 table 自带排序功能，但并没有请求服务端。
			        //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
			        table.reload('defaultReload', {
			            initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                      , where: { //请求参数
                          field: obj.field //排序字段
                        , order: obj.type //排序方式
                      }
			        });
			    });
			    //监听工具条
			    table.on('tool(defaultruv)', function (obj) {
			        var data = obj.data;
			        if (obj.event === 'detail') {
			            common.openTop({
			                detail:true,
                            title: '留言详情', w: '568px', h: '450px', content: '/Blog/Feedback/Detail/' + data.Id, clickOK: function (index) {
			                    common.close(index);
			                }
			            });
			        } else if (obj.event === 'del') {
			            layer.confirm('确定要删除吗？', function (index) {
			                $.ajax({
                                url: "/Blog/Feedback/Delete",
			                    type: "POST",
			                    data: { "Id": data.Id },
			                    dataType: "json",
			                    success: function (data) {
			                        if (data.state == "success") {
			                            obj.del();//删除这一行
			                            layer.close(index); //关闭弹框
			                            common.msgSuccess("删除成功");
			                        } else {
			                            common.msgError("删除失败");
			                        }
			                    }
			                });
			            });
			        }
			    });
			});
</script>


