<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo">@ViewBag.Site.SiteName</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="/Home">首页</a></li>
                    <li><a href="/Article">博客</a></li>
                    <li><a href="/Feedback">留言</a></li>
                    <li><a href="/Diarys">日记</a></li>
                    <li><a href="/Links">友链</a></li>
                    <li><a href="/About">关于</a></li>
                    <li><a href="/jay.html" target="_blank">jay</a></li>
                </ul>
            </nav>
            <a href="/QQUser/QQLogin" class="blog-user">
                <i class="fa fa-qq"></i>
                <img src="" alt="" title="" style="display:none;">
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>