@model RightControl.Model.ArticleClassModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}

<div class="layui-col-md12">
    <table class="layui-table" lay-skin="line">
        <tbody>
            <tr>
                <td>ID：</td>@*这里就直接写，我懒得实体类属性去加[Display(Name ="")]特性*@
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>文章分类：</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>排序号：</td>
                <td>@Model.OrderNo</td>
            </tr>
            <tr>
                <td>创建时间：</td>
                <td>@Model.CreateOn</td>
            </tr>
        </tbody>
    </table>
</div>
