@{
    ViewBag.Title = "LiuCabbage-关于";
}
@section css{
    <link rel="stylesheet" href="~/Content/css/about.css" />
}
<div class="doc-container" id="doc-container">
    <div class="about-banner" id="container">
        <header class="l-top hasAnim arrow-holder">
            <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
                <svg width="0" height="0">
                    <path fill="#fff" d="M58.9103319,3.8342148C63.9275825,-1.29368407,72.0647057,-1.29107495,77.1639611,3.92063726C82.2279116,9.09626594,82.198021,17.5181678,77.2485188,22.5768242C77.2485188,22.5768242,31.318494,69.5197703,31.318494,69.5197703C31.318494,69.5197703,77.2485188,116.462716,77.2485188,116.462716C82.2657693,121.590615,82.2632165,129.907191,77.1639611,135.118903C72.1000106,140.294532,63.8598341,140.263982,58.9103319,135.205326C58.9103319,135.205326,3.8112137,78.891075,3.8112137,78.891075C-1.25273677,73.7154463,-1.2880417,65.3601778,3.8112137,60.1484655C3.8112137,60.1484655,58.9103319,3.8342148,58.9103319,3.8342148C58.9103319,3.8342148,58.9103319,3.8342148,58.9103319,3.8342148"></path>
                </svg>
            </a><!--/arrow-->
            <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
                <svg width="0" height="0">
                    <path fill="#fff" d="M58.9103319,3.8342148 C63.9275825,-1.29368407 72.0647057,-1.29107495 77.1639611,3.92063726 C82.2279116,9.09626594 82.198021,17.5181678 77.2485188,22.5768242 L31.318494,69.5197703 L77.2485188,116.462716 C82.2657693,121.590615 82.2632165,129.907191 77.1639611,135.118903 C72.1000106,140.294532 63.8598341,140.263982 58.9103319,135.205326 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L58.9103319,3.8342148 Z"></path>
                </svg>
            </a><!--/arrow-->
        </header>
        <div class="about-title">
            <h1>关于</h1>
            <p>@ViewBag.SiteTitle</p>
        </div>
    </div>
    <div class="container-fixed">
        <div class="container-inner">
            <article>
                <section>
                    <h1>关于我</h1>
                    <p>
                        一个没有故事的男同学。
                    </p>
                    <span>
                        可以通过以下方式联系到我：
                    </span>
                    <ul>
                        <li>&nbsp;Q&nbsp;&nbsp;Q ：<a href="https://wpa.qq.com/msgrd?v=3&uin=178899573&site=qq&menu=yes" target="_blank">178899573</a></li>
                        <li>邮 箱 ：<a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=178899573@qq.com" target="_blank">178899573@qq.com</a></li>
                        <li>码 云 ：<a href="https://gitee.com/LiuCabbage" target="_blank">https://gitee.com/LiuCabbage</a></li>
                        <li>微 博 ：<a href="https://weibo.com/LiuCabbage" target="_blank">https://weibo.com/LiuCabbage</a></li>
                        <li>网易云：<a href="https://music.163.com/#/user/home?id=279471184" target="_blank">https://music.163.com/#/user/home?id=279471184</a></li>
                    </ul>
                </section>
                <section>
                    <h1>关于本站</h1>
                    <p>
                        本站建于2019年7月，主要用于记录学习笔记，技术分享、交流。<br />
                        前台使用燕十三博客前端模板，后台基于RightControl .NET通用角色权限管理系统搭建。<br />
                        前端模板：<a href="https://www.yanshisan.cn" target="_blank">https://www.yanshisan.cn</a><br />
                        后台程序：<a href="https://gitee.com/LiuCabbage/RightControl" target="_blank">https://gitee.com/LiuCabbage/RightControl</a><br />
                        整站源码：<a href="https://gitee.com/LiuCabbage/RightControl_Blog" target="_blank">https://gitee.com/LiuCabbage/RightControl_Blog</a>
                    </p>
                    <span>
                        本站结构：
                    </span>
                    <ul>
                        <li>前 端 ：<code>Layui</code></li>
                        <li>后 端 ：<code>MVC5 + MYSQL + Dapper + Autofac</code></li>
                    </ul>
                    <p>
                        本站采用阿里云提供的服务器ESC和存储对象OSS。
                    </p>
                </section>
                <section>
                    <h1>关于版权</h1>
                    <p>
                        本站采用「 <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank">署名-非商业性使用 4.0 国际 (CC BY-NC 4.0)</a>」创作共享协议。
                        只要在使用时注明出处，那么您可以可以对本站所有原创内容进行转载、节选、二次创作，但是您不得对其用于商业目的。
                    </p>
                </section>
                <section>
                    <h1>特别说明</h1>
                    <ul>
                        <li>本站文章仅代表个人观点，和任何组织或个人无关。</li>
                        <li>本站前端开发代码没有考虑对IE浏览器的兼容。</li>
                        <li>文章评论和留言板回复邮件提醒功能我没做哦。</li>
                        <li>为防止评论和留言板被恶意JS提交，每日提交超过后台设置的数量将自动锁定QQ用户。</li>
                    </ul>
                    <br><br>
                    <div>
                        <img src="~/Content/image/xlj.jpg" style="width:100%;height:320px;">
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>
@section js{
    <script src="~/Content/js/plugins/blogbenoitboucart.min.js"></script>
}